<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>260401657806-1maqgudm39ul1h3032es06n54io2hbjm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.260401657806-1maqgudm39ul1h3032es06n54io2hbjm</string>
	<key>API_KEY</key>
	<string>AIzaSyBSHtca-y8Nl7n_WUQwFMUSM1YQ1BrxHMI</string>
	<key>GCM_SENDER_ID</key>
	<string>260401657806</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Mikita.PizzaShop</string>
	<key>PROJECT_ID</key>
	<string>pizzashopminsk</string>
	<key>STORAGE_BUCKET</key>
	<string>pizzashopminsk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:260401657806:ios:cd1878ced853fcc453dd9f</string>
</dict>
</plist>